.pc__navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;

}


.spc__navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}


.spc__navbar-links_logo{
    margin-right: 2rem;    
}

.spc__navbar-links img {
    width:62.56px;
    height: 16.02;
}

.spc__navbar_links_container{
    display: flex;
    flex-direction: row;

}


.spc__navbar_links_container p,
.spc__navbar-menu_container p {

    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px; 
    margin: 1rem 1rem;
    line-height: 25px;
    text-transform: capitalize;
    cursor: pointer;
    
}

.spc__navbar-contact button,
.spc__navbar-menu_container button {
    padding: 1rem 2rem;
    color: #fff;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    left: 1153px;
    top:55px;
    background-color: rgb(157, 0, 0);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.spc__navbar-contact {
    margin-top: 10px;
    margin-left: 900px;
}
